/*猫狗社区*/
.CommunityPhoto {
    height: 130px;
}


.HeadpPortrait {
    width: 20px;
    height: 20px;
}

/*幻灯片播放*/
.swiper-container {
    width: 100%; max-width: 100%;
    height: 365px;
    max-height: 100%;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media(min-width:992px)and (max-width: 1199px){
    .swiper-container{
        height: 500px
    }
}


/*栅栏5格*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media ( min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media ( min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media ( min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*栏目10格栅栏*/
.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media(max-width:767px) {
    .col-sm-10ths {
        width: 20%;
        float: left;
       
    }
}

@media ( min-width: 768px) {
    .col-sm-10ths {
        width: 10%;
        float: left;
    }
}

@media ( min-width: 992px) {
    .col-md-10ths {
        width: 10%;
        float: left;
    }
}

@media ( min-width: 1200px) {
    .col-lg-10ths {
        width: 10%;
        float: left;
    }
}

/*导航背景色及样式*/

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}


.naxbox{padding-top:30px;z-index:999;transition:padding .6s,background .6s;padding-bottom:10px}


@media(max-width:768px) {
    .naxbox {
        background-color: #f8f8f8 !important;
        padding-top:10px
    }

    .naxbox .navbar-header>a{
        color: #0fc698 !important;
    }
    .navbar-default .navbar-nav>li>a {
        color: #0fc698 !important;       
    }

    .navbar-default .navbar-nav>li>div>a{
        color: #0fc698 !important;   

    } 

    .navbar-default .navbar-nav>li>div{
        background-color:#fff;
        border-color:#d9d9d9;
    }
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0fc698 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #0fc698 !important;
}



/*猫图片高度调整,猫狗社区图片调整*/

@media(max-width:499px) {
    .pictureHeight {
        height: 220px;
    }

    .CommunityPhoto {
        height: 220px;
        margin-bottom:15px;
    }
}

@media(min-width:500px) and (max-width:600px) {
    .pictureHeight {
        height: 250px;
    }
    .CommunityPhoto {
        height: 250px;
        margin-bottom:20px;
    }
}

@media(min-width:601px) and (max-width:767px) {
    .pictureHeight {
        height: 330px;
    }

    .CommunityPhoto {
        height: 330px;
        margin-bottom:25px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .pictureHeight {
        height: 400px;
    }

    .CommunityPhoto {
        height: 130px;
        margin-bottom:30px;
    }
}

@media(min-width:992px)and (max-width: 1199px) {
    .pictureHeight {
        height: 180px;
    }

    .CommunityPhoto{
        height: 130px;
    }
}




/*搜索图标*/
.search {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #a6a6a6 !important;
    right:20px;margin-top:12px
}

/*导航a的padding值*/

@media (min-width: 768px) {
    .nav>li>a {
        padding: 15px 4.6px;
    }
}

@media (min-width: 992px) {
    .nav>li>a {
        padding: 15px 16.2px;
    }
}

@media (min-width: 1200px) {
    .nav>li>a {
        padding: 15px 27px;
    }
}

@media (min-width: 1400px) {
    .nav>li>a {
        padding: 15px 35px;
    }
}


/*导航随滚动条变字体颜色*/

.navbar {
    border: none;
    background: rgba(0, 0, 0, 0.01);
}


.navscrollTop {
    background-color: #fafafa;
    transition: all .7s;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .07);
    padding-top: 8px !important;
}

.navscrollTop a {
    color: #0fc698 !important;
}

.navscrollTop .navbar .navbar-nav>li>div {
    background-color: #fff !important;
    border-color: #d9d9d9 !important;
}


.navscrollTop .navbar .navbar-nav>li>a {
    color: #0eaf86 !important;
}

/*搜索关键词*/

.keyword>li>a>div:nth-child(1){
    width:calc(100% - 70px) !important
}

.keyword>li>a>div:nth-child(2){
    float:right;
    width:70px
}




/*排行榜单*/
.list li:nth-of-type(odd){background-color:#f8f8f8;}

.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

/*视频*/
.videoBanner{
    position:absolute;
    bottom:-300px;
    left:50%;
    width:100%;
    margin-left:-50%
}


@media(max-width:1580px){
    .videoBanner{
        width:1580px;
        margin-left:-790px;       
    }
}

@media(min-width:1921px){
    .videoBanner{
        width:100%;
        margin-left:-50%;       
    }
}


/*lanmu div top调整*/

.containerbox{
    top:480px;z-index:1;
}

@media(max-width:768px){
    .containerbox{
        top:360px
    }
}

/*栏目栅栏*/
@media(max-width:767px) {
    .containerbox{
        top:395px
    }

    .col-sm-10ths>div>div{
        margin-top:2px;
    }
}

/*左侧边栏*/
@media(max-width:1520px){
    .sideBar{
        display:none !important;
    }
}

.sideBar>ul>li.active>a{
    color: #fb1174 !important;
    border-color:#fb1174 !important;
}

/*右侧边导航*/
.sideNav li>div{
    width:125px;
    height: 45px;
    transition:all .5s;
}

.sideNav>li:hover>div{margin-left: -80px;background: #332060}

.sideNav li>div p{
    width:80px;
    height: 45px;
    line-height: 45px;
    display:inline-block;
    text-align: center;
    color:#FFf;


}

.sideNav li>div i{
    width:45px;height:45px;
}